<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agriculture Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f4f4f9;
        }
        h1 {
            margin: 20px 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <a href="{% url 'main_view' %}" class="btn btn-primary mb-3">Volver a la página principal</a>
        <h1>Precios historicos agricolas</h1>
        <h2>Fuente:FAO ,Datasets</h2>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>ID Pais</th>
                    <th>Pais</th>
                    <th>Producto</th>
                    <th>Fecha</th>
                    <th>Valor (cientos de USD)</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.Id }}</td>
                        <td>{{ record.Id_pais }}</td>
                        <td>{{ record.Pais }}</td>
                        <td>{{ record.Producto }}</td>
                        <td>{{ record.Fecha }}</td>
                        <td>{{ record.Valor }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
